.category-name{
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-weight: 300 !important;
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
   
  
}
.item__img{
    width: 400px;
    height: 270px;
}
.w{
    background-color: black;
    font-size: 70px;
    position: absolute;
}