.text-right.with-margin p,
.text-right.with-margin h1,
.text-right.with-margin h3 {
  line-height: 2;
}

/* Chèn chữ vào giữa hình ảnh */
.text-on-image {
  position: relative;
}
.image img{
  height: 60%;
  width: 100%;
}
.image-caption {
  position: absolute;
  bottom:300px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.text1{
 margin-top: 50px;
 border-bottom: 1px solid #506172;
 padding-bottom: 20px;
 text-align: left;
}
.border{
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px light rgb(243, 241, 241);
}
.content {
  line-height: 2.5;
  position: relative;
  text-align: left;
  
}


#scrollUp i {
  font-size: 20px;
}
@media only screen and (max-width:46.1875em){
  .image-caption{
      position: absolute;
      top: 20%;
      font-size: 25px;
      color: white;

  }

}
@media only screen and (min-width:46.25em) and (max-width:63.9375em){
  .image-caption{
    position: absolute;
    top: 25%;
    font-size: 40px;
    color: white;
     
  }
  
}
