.text-right.with-margin p,
.text-right.with-margin h1,
.text-right.with-margin h3 {
  line-height: 2;
}

/* Chèn chữ vào giữa hình ảnh */
.text-on-image {
  position: relative;
}
.image-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  color: white;
}
.text1{
 margin-top: 50px;
 border-bottom: 1px solid #506172;
 padding-bottom: 20px;
}
.border{
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px light rgb(243, 241, 241);
}
.content p{
  line-height: 2.5;
}


#scrollUp i {
  font-size: 20px;
}
@media only screen and (max-width:46.1875em){
  .image-caption{
      padding-top: 15%;
      margin-left: 10%;
      font-size: 30px;
  }

}
@media only screen and (min-width:46.25em) and (max-width:63.9375em){
  .image-caption{
     margin-top: -20%;
     font-size: 40px;
  }
  .img{
    width: 100%;
  }
  
}
