.Contact{
    margin-top: 7%;
}
.title_contact{
    color: #506172;
    font-size: 17px;
}
p{ 
    color: #506172;
    font-size: 17px;
}
.imag_contact{
    height: -18%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.title_contactUs{
    position: absolute;
    top: 25%;
    left: 45%;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    font-weight: bold;
}
