.Contact{
    margin-top: 7%;
}
.title_contact{
    color: #506172;
    font-size: 17px;
}
p{ 
    color: #506172;
    font-size: 17px;
      
}
.phone-link {
    text-decoration: none;
    color: inherit;
}
  
.phone-link:hover {
    color: rgb(11, 156, 205);
}
  
.address:hover {
    color: rgb(11, 156, 205);
    cursor: pointer;
}
  
.imag_contact{
    height: -18%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.title_contactUs{
    position: absolute;
    top: 35%;
    left: 45%;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    font-weight: bold;
}

