.carousel-item-container {
    position: relative;
  }
  
  .carousel-item-image {
    width: 100%;
  }
  
  .carousel-item-info {
    position: absolute;
    width: 40%;
    height: 40%;
    top: 200px;
    padding-left: 8px;
    background-color: rgb(255, 254, 252);
  }
  
  .carousel-item-info h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;

  }
  
  .carousel-item-info p {
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(29, 24, 24);
    text-align: left;
    float: left;
  }
  .carousel-item-container .carousel-item-info {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .carousel-item-container.hover .carousel-item-info {
    opacity: 1;
    transform: translateX(0); /* Khi hover, hi?n th? ph?n t? t? b�n tr�i v�o */
  }
  
  
  div.ourmenu{
    width: 100%;
  }