.carousel-item-container {
    position: relative;
  }
  .infor1{
    font-size: 50px;
    font-weight: 700;
  }
  .infor2{
    font-size: 22px;
    font-weight: 100;
  }
  .carousel-item-image {
    width: 100%;
  }
.row-ourmenu{
  margin-left: 0px;
}
  .carousel-item-info {
    position: absolute;
    width: 40%;
    height: 40%;
    top: 200px;
    padding-left: 8px;
    background-color: rgb(255, 254, 252);
  }
  
  .carousel-item-info h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;

  }
  
  .carousel-item-info p {
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(29, 24, 24);
    text-align: left;
    float: left;
  }
   /* Khi hover, hiển thị phần tử từ bên trái vào */
  .carousel-item-container .carousel-item-info {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .carousel-item-container.hover .carousel-item-info {
    opacity: 1;
    transform: translateX(0);
  }
   /* Tablet responsive*/ 
  @media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .carousel-item-image{
        width: 100%;
        margin-top: 20px;
        margin-right: 1000px;
        object-fit: cover;
    }
    .infor1{
      font-size: 35px;
      font-weight: 700;
    }
    .infor2{
      font-size: 15px;
      font-weight: 400;
    }
    
}
/* Mobile responsive */
@media (max-width: 740px) {
  .carousel-item-image{
    width: 100%;
    margin-top: 20px;
    object-fit: cover;
}
.infor1{
  font-size: 30px;
  font-weight: 700;
}
.infor2{
  font-size: 13px;
  font-weight: 400;
}

}