.bg-body-restaurant {
    background-color: rgb(255, 255, 255);
    position:sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.bg-body-restaurant a{
    color: #002E5B;
    font-weight: 600;
}

.bg-body-restaurant a:hover {
    text-decoration: none;
    color: #ff656a;
}

#basic-navbar-nav {
    margin-left: 50px;
    font-size: 14px;
   
}
@media (max-width: 768px) {
    /* Khi màn hình nhỏ hơn hoặc bằng 768px, ẩn class 'header' */
    .top-header {
      display: none;
    }
  }