.bg-body-restaurant {
    background-color: skyblue;
    position:sticky;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

#dropdown-basic {
    border: white;
    background-color: rgb(210, 82, 82);
    border-radius: 10px;
    margin-left: 40px;
    height: 50px;
    width: auto;
    align-items: center;
}

#dropdown-basic p {
    margin-top: 6.5px;
}

.person1 {
    margin-top: 10px;
}

.user {
    margin-left: 10px;
}

.person {
    margin-left: 50px;
    margin-top: 10px;
}

.signup {
    text-decoration: none;
    color: #002E5B;
    font-weight: 500;
}

.signup:hover {
    text-decoration: none;
    color: #ff656a;
}

.login {
    margin-left: 10px;
    text-decoration: none;
    color: #002E5B;
    font-weight: 500;
}

.login:hover {
    color: #ff656a;
    text-decoration: none;
}

#basic-navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: center;
}


div.hd.nav-item p {
    text-transform: uppercase;
    color: #002E5B;
    text-decoration: none;
}

div.hd.nav-item p:hover {
    color: #ff656a;
}

/* Responsive cho tablet */
@media (max-width: 1024px) {
    #basic-navbar-nav {
        display: none;
        /* Ẩn menu header ở màn hình nhỏ hơn 1024px */
    }

    .mobile-menu-icon {
        display: block;
        /* Hiển thị nút mở menu dropdown */
        cursor: pointer;
    }

    .openMenu {
        display: flex;
        flex-direction: column;
        padding-right: 350px;
    }
    .closeMenu {
        display: none;
    }
}

/* Responsive cho mobile */
@media (max-width: 850px) {
    #basic-navbar-nav {
        display: none;
        /* Ẩn menu header ở màn hình nhỏ hơn 768px */
    }

    .mobile-menu-icon {
        display: block;
        /* Hiển thị nút mở menu dropdown */
        cursor: pointer;
    }
    .openMenu {
        display: flex;
        flex-direction: column;
        padding-right: 350px;
    }
    .closeMenu {
        display: none;
    }
}
.iconson{
    padding-left: 30px;
}
.quantity{
    color: red;
}

