/* CSS chung */

.footer {
    background-color: #e5e5e5;
    padding: 50px;
    color: rgb(24, 24, 81);
}

.image {
    width: 250px;
    background-color: #e5e5e5;
}

.openinghour {
    padding-right: 100px;
}

.getintouch {
    margin-left: -70px;
}

.phone {
    text-decoration: none;
    color: inherit;
}

.phone:hover {
    color: rgb(11, 156, 205);
}

.addres:hover {
    color: rgb(11, 156, 205);
    cursor: pointer;
}

/* Nếu màn hình có chiều rộng nhỏ hơn hoặc bằng 600px */
@media (max-width: 600px) {
    .image {
        width: 100%;
        /* Các quy tắc khác tùy ý cho responsive design */
    }

    .openinghour {
        padding-right: 20px;
        /* Các quy tắc khác tùy ý cho responsive design */
    }

    .getintouch {
        margin-left: 0;
        /* Các quy tắc khác tùy ý cho responsive design */
    }
}
