.footer{
    background-color: #e5e5e5;
    padding: 50px;
    color: rgb(24, 24, 81);
}
.image{
    width: 250px;
    background-color: #e5e5e5;
}
.openinghour{
    padding-right: 100px;
}
.getintouch{
    margin-left: -70px;
}
.phone{
    text-decoration: none;
    color: inherit;
}

.phone:hover{
    color: rgb(11, 156, 205);
}
.addres:hover {
    color: rgb(11, 156, 205);
    cursor: pointer;
  }
  
